# ----------------------
# IDE stuff
# ----------------------
.idea
.project
.pydevproject
.settings
.DS_Store
# ----------------------
# Generated output
# ----------------------
*.py[oc]
/build
/dist
**/output
**/temp
Thumbs.db
.sync
/tmp
# ----------------------
# Logs and caches
# ----------------------
*/ghostdriver.log
/log
.cache
.ipynb_checkpoints
*/**/.ipynb_checkpoints
.pytest_cache/
htmlcov/
# ----------------------
# DEV-dependencies
# ----------------------
**/__pycache__
**/node_modules
# ----------------------
# PRIVATE files
# ----------------------
.env
.npmrc
.google.auth.json
# actual config now is private, and git-ignored
*.csv
*.xlsx